
body {
    background-color: #1c283b;
    color: #ff66c4;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #ff66c4;
}

img {
    border-radius: 4px;
}

.logo {
    width: 25px;
    height: 25px;
    border-radius: 999px;
}

.header {
    background-color: rgba(28, 40, 59, 0.6);
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-color: rgba(255, 102, 196, 0.6);
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ff66c3;
}

.header-text {
    margin: 0;
    padding-left: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
}

.desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop > a {
    display: none;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.desktop > a:hover {
    background-color: #ffb4e222;
}

.mobile-nav {
    margin-top: 5px;
    backdrop-filter: blur(10px);
    padding: 5px;
    background-color: #ffb4e222;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobile-nav > a {
    text-decoration: none;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}

.mobile-btn {
    fill: #ff66c4;
    height: 20px;
}

.hero {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background: radial-gradient(circle at bottom, rgba(255, 102, 196, 0.6) 1%, transparent 60%);
}

.hero-text {
    min-width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.hero-main {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero-caption {
    font-size: 1.3em;
    font-weight: 500;
}

.hero-img {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    padding-right: 10px;
    padding-left: 10px;
    height: 25px;
    fill: #ff66c4;
}

.topic {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6em;
    margin-bottom: 3px;
}

.topic-cmd {
    font-family: 'Victor Mono', monospace;
    font-size: 0.9em;
    margin-top: 3px;
}

.topic-body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

.project-head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    font-size: 1.1em;
    padding-bottom: 10px;
}

.project-head > img {
    margin-right: 5px;
}

@media only screen and (min-width: 600px) {
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
    .desktop > a {
        display: inline;
    }
    .mobile-btn {
        display: none;
    }
    .hero {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        background: radial-gradient(circle at right, rgba(255, 102, 196, 0.6) 1%, transparent 60%);
    }
    .hero-text {
        min-width: 0;
        text-align: left;
    }
    .hero-img {
        width: 250px;
        height: 250px;
        padding-bottom: 0;
    }
    .hero-main {
        font-size: 2.2em;
    }
    .hero-caption {
        font-size: 1.4em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .hero-icons {
        justify-content: start;
    }
    .icon {
        padding-left: 0;
        padding-right: 15px;
        height: 25px;
    }
    .topic {
        font-size: 1.9em;
        margin-top: 5px;
    }
    .topic-cmd {
        font-size: 1.1em;
    }
    .topic-body {
        font-size: 1.1em;
    }
    .project-body {
        margin-left: 35px;
    }
    .project-head > img {
        margin-right: 10px;
    }


}

@media only screen and (min-width: 992px) {
    body {
        padding-left: 160px;
        padding-right: 160px;
    }
    .hero {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        padding-left: 500px;
        padding-right: 500px;
    }
}
